

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-12">
      <h2>
        About Us
      </h2>
      <ul>
        <li><a href="">Test</a></li>
        <li><a href="">Test</a></li>
      </ul>
      <div class="mt-2"></div>
      <form action="">
        <input type="text" class="form-control">
        <button class="btn btn-primary mt-1">Send</button>
      </form>
    </div>
    <div class="col-lg-3">
      <h2>Quick Links</h2>
      <div class="row">
        <div class="col-lg-6 col-12">
          <ul>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
          </ul>
        </div>
        <div class="col-lg-6 col-12">
          <ul>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12">

      <h2>
        Contact Info
      </h2>
      <div>
        <p>
        <i class="fa fa-location-arrow" aria-hidden="true"></i>
        203 Fake Street Mountain Lorem ipsum dolor, sit amet consectetur adipisicing.
      </p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> +90 312 06 63</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i>info@domain.com</p>
      </div>
    </div>
  </div>
</div>
