<div class="row pt-4 pb-4 ">
  <div class="col-lg-2 col-12 fw-bold">
     DEALERS
  </div>
  <div class="col-lg-6 col-12">
    <ul class="site-menu d-none d-lg-block m-2">
      <li class="has-children dropdown d-inline-block m-2">
        <a clas="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">Collection </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Children</a></li>
            <li class="has-children">
              <a href="#">Sub Menu</a>
              <ul class="dropdown">
                <li><a href="">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Children</a></li>
              </ul>
            </li>
          </ul>
      </li>
      <li class="d-inline-block m-2"><a href="shop.html">Shop</a></li>
      <li class="d-inline-block m-2"><a href="#">Catalogs</a></li>
      <li class="d-inline-block m-2"><a href="contact.html">Contact</a></li>
    </ul>
  </div>

  <div class=" col-lg-4 col-12 ">
    <ul class=" text-right">
      <li class="d-inline-block m-2"><i class="fa fa-search"></i></li>
      <li class="d-inline-block m-2"><i class="fa fa-heart"></i></li>
      <li class="d-inline-block m-2"><i class="fa fa-shopping-cart"></i></li>
    </ul>
  </div>
</div>
