<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col"></div>
      <div class="col-lg-6 col-12 text-center p-5">
        <small>#NEW SUMMER COLLECTION 2022</small>
       <h1>JACKET</h1>
       <img src="https://media.istockphoto.com/photos/male-coat-isolated-on-the-white-picture-id166473437?k=20&m=166473437&s=612x612&w=0&h=6iwOkypa1MZR2jv7sMZ5wDl43R5_ll_-UwewB8sukLA=" alt="">
       <div class="text-center mt-5">
        <button class="btn btn-primary m-2 bg-dark">SHOP NOW</button>
       </div>
      </div>
    </div>
  </div>
</div>
