<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-6 col-12 text-center p-5">
       <h1>MADWELL</h1>
       <img src="https://media.istockphoto.com/photos/male-coat-isolated-on-the-white-picture-id163208487?k=20&m=163208487&s=612x612&w=0&h=TZ5XnBejf_EAnGjMPfsRf3zu-8G9DYHIFyTiyrnwFms=" alt="">
       <small>Summer Collection</small>
       <h3>
        <span>$1,499</span>
        <span class="text-decoration-line-through ms-3">$1,999</span>
       </h3>
       <div class="text-center mt-5">
        <button class="btn btn-primary m-2">SHOP NOW</button>
        <button class="btn btn-secondary">SHOW LATER</button>
       </div>
      </div>
    </div>
  </div>
</div>
