<div class="row">
  <h5 class="text-center">Best Selles</h5>
  <div class="col-lg-4 col-12 text-center">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2013/07/12/18/20/shoes-153310__340.png" class="card-img-top" alt="shoe">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 text-center">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2013/07/12/18/20/shoes-153310__340.png" class="card-img-top" alt="shoe">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12 text-center">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2013/07/12/18/20/shoes-153310__340.png" class="card-img-top" alt="shoe">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
